.content{
  /* display: table; */
  position: absolute;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-evenly;
  margin: auto;
  transform: translateY(-90vh);
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: row;
}

.projects{
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: inherit;
  z-index: 5;
  text-align: center;
}
  
.text{
  transform: translateX(250px);
  margin-top: 10vh;
  position: relative;
  width: 40%;
  height: min-content;
  background: transparent;
  text-align: right;

}

h1{
  color: #fff;
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

a{
  color: #fff;
}

.video{
  margin: auto;

  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-align: center;
  width: 355px;
  height: 630px;
  float: right;  
  
  
}

.video:hover{
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}

video{
  transform: translateY(-11px);
  border: #fff;
  border-width: thick;

  height: 650px;
  width: 350px;
}
